{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contacts list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Middlename</th>
                <th>Lastname</th>
                <th>Primaryphonenumber</th>
                <th>Secondaryphonenumber</th>
                <th>Email</th>
                <th>Photo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td><a href="{{ path('contacts_show', { 'id': contact.id }) }}">{{ contact.id }}</a></td>
                <td>{{ contact.firstName }}</td>
                <td>{{ contact.middleName }}</td>
                <td>{{ contact.lastName }}</td>
                <td>{{ contact.primaryPhoneNumber }}</td>
                <td>{{ contact.secondaryPhoneNumber }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.photo }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('contacts_show', { 'id': contact.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('contacts_edit', { 'id': contact.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('contacts_new') }}">Create a new contact</a>
        </li>
    </ul>
{% endblock %}
